<div>
  <!--<login-modal
    (onSubmit)="login($event)"
    [hasError]="session.get('hasError', false)"
    [isPending]="session.get('isLoading', false)"
    *ngIf="!isLoggedIn">
  </login-modal>-->
  <navigator>
    <navigator-item [mr]=true>
      <logo></logo>
    </navigator-item>
    <navigator-item *ngIf="isLoggedIn" [mr]=true>
      <a [routerLink]="['Counter']"
        class="text-decoration-none">Counter</a>
    </navigator-item>
    <navigator-item>
      <a [routerLink]="['About']"
        class="text-decoration-none">About Us</a>
    </navigator-item>
    <div class="flex flex-auto"></div>
    <navigator-item *ngIf="isLoggedIn" [mr]=true>
      {{
        session.getIn(['user', 'firstName'], '') + ' ' +
        session.getIn(['user', 'lastName'], '') }}
    </navigator-item>
    <navigator-item [hidden]="!isLoggedIn">
      <button className="bg-red white" (click)="logout()" >
        Logout
      </button>
    </navigator-item>
  </navigator>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
